@model PersonUpdateRequest
@{
    ViewBag.Title = "Edit Person";
    ViewBag.CurrentUrl = "~/Persons/Edit";
}

<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Contacts</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Persons</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Edit</span>
        </div>
    </div>
</div>
<div class="form-container">
    <a asp-controller="Persons" asp-action="Index" class="link-hover">back to persons list</a>
    <h2 class="text-large">Edit Person</h2>
    <form asp-controller="Persons" asp-action="Edit" method="post">
        <input type="hidden" asp-for="PersonId"/>
        @*Person name*@
        <div class="flex">
            <div class="w-25">
                <label asp-for="PersonName" class="form-label">Person Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input"/>
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>
        @*Email*@
        <div class="flex">
            <div class="w-25">
                <label asp-for="Email" class="form-label">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" class="form-input"/>
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>
        @*Date Of Birth*@
        <div class="flex">
            <div class="w-25">
                <label asp-for="DateOfBirth" class="form-label">Date Of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" class="form-input"/>
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>
        @*Gender*@
        <div class="flex">
            <div class="w-25">
                <label class="form-label">Gender</label>
            </div>
            @{
                string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
            }
            <div class="flex-1">
                @foreach (string gender in genders)
                {
                    <input asp-for="Gender" type="radio" Value="@gender"/>
                    <label for="@gender">@gender</label>
                }
                <span asp-validation-for="Gender" class="text-red"></span>
            </div>
        </div>
        @*Country*@
        <div class="flex">
            <div class="w-25">
                <label asp-for="CountryId" class="form-label">Country</label>
            </div>
            <div class="flex-1">
                <select asp-for="CountryId" class="form-input" asp-items="@ViewBag.Countries">
                    <option value="">Please Select...</option>
                </select>
                <span asp-validation-for="CountryId" class="text-red"></span>
            </div>
        </div>
        @*Address*@
        <div class="flex">
            <div class="w-25">
                <label asp-for="Address" class="form-label">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" class="form-input"></textarea>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>
        @*ReceiveNewsLetters*@
        <div class="flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input asp-for="ReceiveNewsLetters" value="true"/>
                <label asp-for="ReceiveNewsLetters" class="form-label">Receive NewsLetters</label>
            </div>
        </div>
        @*Submit*@
        <div class="flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button-green-back button">Update</button>
                <div asp-validation-summary="All" class="text-red"></div>
                @if (ViewBag.ErrorsCreatePerson != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.ErrorsCreatePerson)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

    </form>
</div>
@section scripts {
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>*@
}